/*
  ==================
  SimplEvent: STYLE
  ==================
*/

body { color: #dedede !important; background-color: #23282d;}
h1, h2, h3, h4, h5, tr, th {color: #23282d !important;}
input[type=text], textarea {  background-color: #fff; width:100%;}

.se-settings-container { background-color: #f2f2f2; }

.form-table td, .form-table th { padding:5px; }
a { text-decoration:none; color:inherit; }
a:hover { text-decoration:none; color:inherit; }
.simplevent_option_preview, .simplevent-general-form { margin-top:30px; display: inline-blog; float:left; padding:2%;}
.simplevent-general-form {
  min-height:50vh; width:40%; padding:2%; background-color: #f2f2f2; color:#23282d;
}
.simplevent-general-form h2 { border-bottom:1px solid #23282d; color:#23282d !important; padding-bottom: 5px; margin-bottom:5px;}
.simplevent_option_preview {
  width:50%;
  position: relative;
  background-color: #f2f2f2;
  height:100%;
}
.form-table { margin-top:20px; }
.se-separator { border-bottom:0px solid #6b6b6b; width:100%; }
/*--NAVBAR--*/
.se-navbar-container {
  position:absolute;
  top: 0;
  left: 0;
  width:100%;
  height:80px;
}
.se-header-logo {
  padding: 10px 0 10px 40px;
  height: 60px;
  float:left;
} .se-header-logo img { height:100%; }

.se-more-events-section {
  float: left; height: 80px; margin-left: 40px; position: relative;
}
.se-more-events-button { margin-top:30px; cursor: pointer;}
.se-more-events-button img { margin-right:5px;}
.se-more-events-button span { vertical-align: top;}
/*--MENU----*/
.se-navbar-mainmenu { position: absolute; right:0; top: 20px; }
.se-navbar-mainmenu a { padding: 10px 30px; float:left; }
.se_navbar_anmeldebutton { padding: 10px 30px; float:left; cursor: pointer;}
.se_navbar_anmeldebutton:hover { opacity:0.9; }
.se_navbar_infobutton { margin: 8px 30px; float:left; height:24px; cursor:pointer;}

.noticem, div.updated { margin:0px 34px 0 0; background-color: #282828;}
